.ant-modal-content {
  background-color: #3e3e5b !important;
  border-radius: 16px !important;
  width: 552px;
  height: 512px;
  .ant-modal-body {
    .ModalChangePW_Title {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 30px;
      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 24px;

        color: #f5f5ff;
      }
    }

    label {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;

      color: #f5f5ff;
    }
    input {
      width: 471px;
      height: 48px;

      background: #2b2b3f;
      color: white;

      border: 1px solid #727288;
      border-radius: 8px;
    }

    .btn-group{
        margin-top: 0;
    }
  }
}
