.Control-PQUser{
    display: flex;
    width: 1534px !important;
    justify-content: space-between;
    position: relative;
    .ant-tabs-nav {
        width: 1534px !important;
}
}
.Control-PQUser_GroupSelect{
    display: flex;
    
}
.Control-PQUser_Search{
   position: absolute;
   right: 0;
//    top: 50%;
}