.Control-QLHDKhaiThac{
    display: flex;
    width: 1534px !important;
    justify-content: space-between;
}
.Control-QLHDKhaiThac_GroupSelect{
    display: flex;
    
}
// .Control-DSHopDong_Search{
//     margin-left: 286px;
// }