.Control-PhanPhoiDT {
  display: flex;
  width: 1534px !important;
  justify-content: space-between;
}
.Control-PhanPhoiDT_GroupSelect {
  display: flex;
}
.Control-PhanPhoiDT_TitleTable {
  margin-top: 24px;
  h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;

    color: #e5e5e5;
  }
}
// .Control-DSHopDong_Search{
//     margin-left: 286px;
// }
