.AddThietBi {
  .Layout-page {
    display: flex;
    margin-bottom: 24px;
    // justify-content: space-around;
  }
  label {
    margin-left: 24px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px !important;
    line-height: 24px;
    width: 160px !important;
    color: #ffffff !important;
    margin-right: 20px;
  }
  input {
    width: 365px;
    height: 48px;
    background: #33334d;
    border: 1px solid #727288;
    border-radius: 8px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #f5f5ff;
  }
  textarea{
    width: 365px;
    height: 120px;
    background: #33334d;
    border: 1px solid #727288;
    border-radius: 8px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #f5f5ff;
  }

  .Control-Select {
    margin-right: 0;
    .ant-select-selector {
      height: 48px !important;
      background-color: #33334d !important;
      border: 1px solid #727288 !important;
    }
  }
  &_Left {
    margin-right: 175px;
  }

  &_Right {
    span {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      white-space: nowrap;
      color: #f5f5ff;
    }
  }
  .Group_ThongTin_ItemAdd{
    height: 54px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    label{
      margin: 0 ;
      text-align: end;
      width: 140px !important;
    }
  }

  .ant-picker {
    width: 217px;
    height: 48px;
    background-color: #2b2b3f;
    border: 1px solid #727288;
    input {
      width: 131px;
      height: 48px;
      border-radius: 8px;
      font-size: 18px;
      color: white !important;
    }
    .ant-picker-suffix {
      color: #ff7506 !important;
      font-size: 24px;
      svg {
        width: 24px;
      }
    }
  }
}
