.btn-upload {
  width: 108px;
  height: 40px;

  /* Orange/3 */
  background-color: #3e3e5b;
  border: 1px solid #ffac69;
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;

  /* Orange/3 */

  color: #ffac69;
}
